@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* inter-regular - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: url("/fonts/inter-regular-webfont.woff2") format("woff2"),
      url("/fonts/inter-regular-webfont.woff") format("woff");
  }

  /* inter-500 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-display: optional;
    src: url("/fonts/inter-medium-webfont.woff2") format("woff2"),
      url("/fonts/inter-medium-webfont.woff") format("woff");
  }

  /* inter-700 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: optional;
    src: url("/fonts/inter-bold-webfont.woff2") format("woff2"),
      url("/fonts/inter-bold-webfont.woff") format("woff");
  }

  .center {
    display: flex;
    justify-content: center;
  }

  a {
    color: #646cff;
    text-decoration: inherit;
  }

  a:hover {
    color: #535bf2;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  button {
    border-radius: 0.6em;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: inherit;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #535bf2;
  }

  button:hover {
    border-color: #646cff;
  }

  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .logo {
    height: 8rem;
    padding: 1.5rem;
    will-change: filter;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo .react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  .logo .sass:hover {
    filter: drop-shadow(0 0 2em #fb61c0aa);
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes shadow-pulse {
    from {
      filter: drop-shadow(0 0 0.5em #44444444);
      transform: rotate(-1.2deg) translateX(0.6rem);
    }

    to {
      filter: drop-shadow(0 0 1.5em #88888888);
      transform: rotate(0.8deg) translateX(-0.6rem);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 36s linear;
    }
  }

  .card h1 {
    animation: shadow-pulse infinite alternate 3.6s ease-in-out;
  }

  .read-the-docs {
    padding-top: 1em;
    color: #666;
  }

  .credits {
    padding: 0em 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: normal;
    font-size: 1.2rem;
    background-color: white;
    &:hover {
      color: black;
    }
  }
}
